Source: ros-melodic-ypspur-ros
Section: misc
Priority: optional
Maintainer: Atsushi Watanabe <atsushi.w@openspur.org>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-diagnostic-msgs, ros-melodic-geometry-msgs, ros-melodic-message-generation, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-roslint, ros-melodic-rostest, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf, ros-melodic-trajectory-msgs, ros-melodic-ypspur (>= 1.20.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-ypspur-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-diagnostic-msgs, ros-melodic-geometry-msgs, ros-melodic-message-runtime, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-tf, ros-melodic-trajectory-msgs, ros-melodic-ypspur (>= 1.20.0)
Description: ROS wrapper for the mobile robot control platform YP-Spur
